.group-2_1-svg {
  width: 188px;
  height: 198px;
}

.group-2_2-svg {
  width: 100px;
  height: 100px;
}

.group-2_3-svg {
  width: 188px;
  height: 198px;
}

.group-2_4-svg {
  width: 188px;
  height: 198px;
}

.group-2_5-svg {
  width: 188px;
  height: 198px;
}

.group-3_1-svg {
  width: 626px;
  height: 660px;
}

